<div class="container">
	<h2>User info</h2>
	<div class="row">
	<%= form_for @book do |f| %>
		<p>Name</p>
		<%= f.text_field :name %>

		<p>Image</p>

		<p>Introduction</p>
		<%= f.text_area %>

		<%= submit 'Update User' %>
	<% end %>
	</div>
</div>